@media (min-width: 1400px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        max-width: 100%;
        user-select: none;
        margin: 0;
        height: 100%;
    }
    .main{
        flex-grow: 1;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .phone_reminder{display: none}
    .present {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 852px;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #0F0F0F;
    }
    .present_photo{
        background-image: url("img/sora.jpg");
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }

    .present_text_content{
        opacity: 0;
        animation: ani 3s forwards;
        padding-left: 10px;
        left: auto;
        top: 20%;
        min-width: 32vh;
        max-width: 50vh;
        position: absolute;

        width: 50%;
    }

    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .paragraph {
        padding: 15px;
        border-right: 6px outset #6e7075;
        border-radius: 0 40px 40px 0;
        background-color: #191919;
        font-size: 20px;
        color: #F1F1F1;
    }

    /* Начало кнопки */
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
    }
    button.learn-more {
        width: 12rem;
        height: auto;
    }
    button.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #191919;
        border-radius: 1.625rem;
    }
    button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #F1F1F1;
    }
    button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }
    button.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.25rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }
    button.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        text-decoration: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #F1F1F1  ;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
    button:hover .circle {
        width: 100%;
    }
    button:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
    }
    button:hover .button-text {
        color: #fff;
    }

    /* Конец кнопки */

    .team > ul > li{
        text-align: center;
        max-width: 300px;
        height: 350px;
        display: inline;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .team_photo{
        border-width: 5px;
        border-style: none;
        border-radius: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 200px;
        max-width: 100%;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .team_photo_1{background-image: url("img/Arteom.jpg");}
    .team_photo_2{background-image: url("img/Nazar.jpg");}
    .team_photo_3{background-image: url("img/Dasha.jpg");}
    .team_photo_4{background-image: url("img/Ksy and Kirril.jpg");}
    .team_photo_5{background-image: url("img/Lia.jpg");}
    .team_photo_6{background-image: url("img/Ksy and Kirril.jpg");}


    .team{

        padding-top: 150px;
    }

    .team > ul{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .team > ul > li > a >img{
        margin-top: 20px;
        transition: 1s;
        width: 25px;
        height: 25px;
    }

    .team > ul > li > a >img:hover{
        transform: scale(1.3);
    }

    .team_name{
        font-size: 22px;
        line-height: 1.35;
        margin-bottom: 4px;
        font-weight: 600;
        color: #000000;
    }

    .team_describe{
        min-height: 40px;
        margin-left: auto;
        margin-right: auto;
        color: #7a7a7a;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 300;
        width: 75%;
    }

    .help{
        padding-top: 150px;
        padding-bottom: 150px
    }

    .help_grid{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .help_headers{
        margin-bottom: 105px
    }

    .h1{
        font-weight: 600;
        color: #000000;
        margin-bottom: 40px;
        line-height: 1.23;
        font-family: 'TildaSans',Arial,sans-serif;
        font-size: 38px;
        text-align: center;
    }

    .h2{
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        font-family: 'TildaSans',Arial,sans-serif;
        font-weight: 300;
        color: #000000;
    }

    .help_el{
        transition: 0.5s;
        display: inline-block;
        float: left;
        max-width: 33%;
        margin: auto;

    }
    .help_el:hover{
        transform: scale(1.1)
    }

    .help_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }
    .help_el_h{
        margin-top: 12px;
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 1.17;
        font-family: 'TildaSans',Arial,sans-serif;
        text-align: center;
    }

    .help_text{
        font-size: 14px;
        line-height: 1.55;
        font-family: 'TildaSans',Arial,sans-serif;
        text-align: center;
    }

    footer{
        background-color: #111111;
        display: flex;
    }

    .footer_name{
        color: #ffffff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: 600;
        font-size: 12px;
    }

    .footer_list{
        display: flex;
        list-style: none;
    }
    .footer_list_el{
        padding-right: 10px;
        transition: 1s;
    }
    .footer_list_el:hover{
        transform: scale(1.1);
    }
    .footer_el {
        max-width: 33%;
        margin: auto;
    }
    .some_space{display: none}
}
@media (max-width: 1399px){
    body{width: 100vw;overflow-x: hidden;user-select: none;margin: 0;height: 100%;}
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .present {
        margin: 0;
        border: 0;
        width: 100%;
        height: calc(100% + 20px);
        background-color: #0F0F0F;
    }
    .some_space{height: 35px}
    .paragraph {
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 15px;
        border-right: 3px outset #1C6EA4;
        border-radius: 40px 40px 40px 40px;
        background-color: #272f89;
        font-size: 20px;
        color: #F1F1F1;
    }

    .phone_reminder{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 15px;
        border-right: 3px outset #7b7c7e;
        border-radius: 40px 40px 40px 40px;
        background-color: #272727;
        font-size: 20px;
        color: #F1F1F1;
    }

    .present_photo{display: none;}
    .present_text{width: 100vw;}
    .present_text_content{padding-left: 5vw;padding-right: 5vw; padding-top: 1px; text-align: center;}

    /* Начало кнопки */
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border-style: none;
        border-radius: 6px;
        vertical-align: middle;
        text-decoration: none;
        background: #F1F1F1;;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
    }
    button.learn-more {
        width: 12rem;
        height: 3vh;
    }
    button.learn-more .button-text {
        transition: 1s;
        text-decoration: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #191919;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }
    /* Конец кнопки */

    .team > ul > li{
        padding-bottom: 30px;
        text-align: center;
        max-width: 300px;
        height: 350px;
        display: inline;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .team_photo{
        border-width: 5px;
        border-style: none;
        border-radius: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 200px;
        max-width: 100%;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .team_photo_1{background-image: url("img/Arteom.jpg");}
    .team_photo_2{background-image: url("img/Nazar.jpg");}
    .team_photo_3{background-image: url("img/Dasha.jpg");}
    .team_photo_4{background-image: url("img/Ksy and Kirril.jpg");}
    .team_photo_5{background-image: url("img/Lia.jpg");}
    .team_photo_6{background-image: url("img/Ksy and Kirril.jpg");}

    .h1{
        font-weight: 600;
        color: #000000;
        margin-bottom: 40px;
        line-height: 1.23;
        font-family: 'TildaSans',Arial,sans-serif;
        font-size: 38px;
        text-align: center;
    }

    .h2{
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        font-family: 'TildaSans',Arial,sans-serif;
        font-weight: 300;
        color: #000000;
    }

    .team{
        width: 100vw;
        padding-top: 150px;
    }

    .team > ul{
        display: grid;
        justify-content: center;
        width: 100vw;
        padding-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .team > ul > li > a >img{
        margin-top: 20px;
        transition: 1s;
        width: 25px;
        height: 25px;
    }

    .team > ul > li > a >img:hover{
        transform: scale(1.3);
    }

    .team_name{
        font-size: 22px;
        line-height: 1.35;
        margin-bottom: 4px;
        font-weight: 600;
        color: #000000;
    }

    .team_describe{
        min-height: 40px;
        margin-left: auto;
        margin-right: auto;
        color: #7a7a7a;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 300;
        width: 75%;
    }
    .help_grid{
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: grid;
    }
    .help_el{
        transition: 0.5s;
        float: left;
        max-width: 33%;
        margin: auto;
        padding-bottom: 2vh;

    }
    .help_el:hover{
        transform: scale(1.1)
    }
    .help_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }
    .help_el_h{
        margin-top: 12px;
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 1.17;
        font-family: 'TildaSans',Arial,sans-serif;
        text-align: center;
    }

    .help_text{
        font-size: 14px;
        line-height: 1.55;
        font-family: 'TildaSans',Arial,sans-serif;
        text-align: center;
    }

    footer{
        background-color: #111111;
        display: flex;
    }

    .footer_name{
        color: #ffffff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: 600;
        font-size: 12px;
    }

    .footer_list{
        display: flex;
        list-style: none;
    }
    .footer_list_el{
        padding-right: 10px;
        transition: 1s;
    }
    .footer_list_el:hover{
        transform: scale(1.1);
    }
    .footer_el {
        max-width: 33%;
        margin: auto;
    }
}